
* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body, html, #__next {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height: calc(100vh - 60px); 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
